.back_drop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.message_modal {
  min-height: 100px;
  min-width: 25%;
  max-width: 35%;

  z-index: 10;
  height: fit-content;
  width: fit-content;
  background-color: #fff;
  border-radius: 15px;
  margin: auto;
  padding: 20px;

  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: ease-in;

  animation-name: slideIn;
  animation-duration: 1.5s;
}
