.card {
  max-width: 300px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 5px solid #fff;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  margin-left: 20px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.card_top {
  height: 65%;
  /* background-color: rgb(196, 5, 62); */
}

.card_bottom {
  height: 45%;
  width: 50%;
  /* background-color: cornflowerblue; */
  text-align: center;
  margin: auto;
}

.card h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
}
