.scheme_card {
  max-width: 250px;
  min-height: 200px;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;

  background: #fff1e0;
  border: 5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 15px;
}

.scheme_card:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.scheme_card h2 {
  font-size: 1.3rem;
  color: #1f0062;
}

.scheme_card p {
  font-size: 1rem;
  color: #1f0062;
}

@media only screen and (max-width: 600px) {
  .scheme_card {
    width: 100%;
    max-height: fit-content;
    box-sizing: unset;
    margin-bottom: 20px;
    margin-left: 15px;
    min-height: fit-content;
  }
}
