.next_button {
  height: 30%;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.highlight_btn {
  animation: highlight 2s infinite;
}

@keyframes highlight {
  0% {
    tranfrom: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 600px) {
  .next_button {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    position: absolute;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .next_button img {
    height: 40px;
  }
}
