.admin_category_page {
  height: 100%;
  width: 100%;

  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.admin_category_card_list {
  display: flex;
  width: 100%;
  /* background-color: darkgrey; */
  justify-content: space-evenly;
  margin-bottom: 90px;
}
